<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>智慧山体</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="../static/css/classroom.css" th:href="@{/css/classroom.css}"/>
</head>
<body>
<div id="top_div">
    <div class="weui-cells" id="msgList">

    </div>
</div>
<div id="div_button">
    <input id="picker" placeholder="点击选择时间" class="weui-btn weui-btn_plain-default"></input>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
<script type="text/javascript" src="../static/js/classroom.js" th:src="@{/js/classroom.js}"></script>
<script>getNowFreeClassRoom();</script>
</html>