<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>智慧山体</title>
    <link rel="stylesheet" href="../static/css/classtable.css" th:href="@{/css/classtable.css}"/>
</head>
<body>
<div id="background_div"></div>
<div id="div_body">
    <div class="section_top">周一</div><div class="section_top">周二</div><div class="section_top">周三</div><div class="section_top">周四</div><div class="section_top">周五</div>
    <div class="section_left">一二</div>
    <div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div>
    <div class="section_left">三四</div>
    <div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div>
    <div class="section_left">五六</div>
    <div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div>
    <div class="section_left">七八</div>
    <div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div><div class="section"></div>
</div>
<div id="div_foot">
    <p>课程表</p>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/classtable.js" th:src="@{/js/classtable.js}"></script>
</html>